!pip install pyspark==3.2.3

!pip install py4j==0.10.9.5

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName("App-Hadoop").getOrCreate()

2023-05-11 12:28:29,753 WARN util.Utils: Your hostname, BDS-2023 resolves to a loopback address: 127.0.1.1; using 10.0.2.15 instead (on interface enp0s3)
2023-05-11 12:28:29,758 WARN util.Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
2023-05-11 12:28:31,786 WARN util.NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [46]:
edaw =spark.read.option("multiline", True) \
                .option("header", True) \
                .option("delimiter", ",") \
                .csv('/CA2/EDAW.csv')#, inferSchema=True

In [47]:
edaw.show(n=3, truncate = True)

+---+--------------------+-------------------+--------------------+-----------+---------------+--------------------+--------------------+------------+---------+---------+-------+
|_c0|                Date|                 ID|                 url|   username|         source|            location|               tweet|num_of_likes|num_of_rt|followers|replies|
+---+--------------------+-------------------+--------------------+-----------+---------------+--------------------+--------------------+------------+---------+---------+-------+
|  0|2023-03-15 23:28:...|1636147315168927744|https://twitter.c...|HibaJebeile|Twitter Web App|Sydney, New South...|Grateful to be wo...|          19|        4|     1552|      1|
|  1|2023-03-15 23:24:...|1636146382770966528|https://twitter.c...|Bfoundation|Twitter Web App|           Australia|In this #podcast ...|           1|        1|    36483|      0|
|  2|2023-03-15 23:20:...|1636145465111752704|https://twitter.c...|   EdawIhap|Twitter Web App|                null|@JTRIII3 @_Andrew...|           1|        0|        1|      0|
+---+--------------------+-------------------+--------------------+-----------+---------------+--------------------+--------------------+------------+---------+---------+-------+
only showing top 3 rows

2023-05-11 13:28:29,530 WARN csv.CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , Date, ID, url, username, source, location, tweet, num_of_likes, num_of_rt, followers, replies
 Schema: _c0, Date, ID, url, username, source, location, tweet, num_of_likes, num_of_rt, followers, replies
Expected: _c0 but found:
CSV file: hdfs://localhost:9000/CA2/EDAW.csv

In [48]:
edaw.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- ID: string (nullable = true)
 |-- url: string (nullable = true)
 |-- username: string (nullable = true)
 |-- source: string (nullable = true)
 |-- location: string (nullable = true)
 |-- tweet: string (nullable = true)
 |-- num_of_likes: string (nullable = true)
 |-- num_of_rt: string (nullable = true)
 |-- followers: string (nullable = true)
 |-- replies: string (nullable = true)

In [49]:
edaw.select("Date", "tweet").summary().show()

+-------+--------------------+--------------------+
|summary|                Date|               tweet|
+-------+--------------------+--------------------+
|  count|              148360|              146415|
|   mean|   3.749716231555051|   595.4285714285714|
| stddev|   11.88790692179773|  1469.2620110595853|
|    min| \n#Eatingdisorde...|!!!!!! IMPORTANT ...|
|    25%|                 0.0|                 0.0|
|    50%|                 1.0|                 0.0|
|    75%|                 3.0|                 1.0|
|    max|â€¦ https://t.co/iR...|ðŸª‚We have had lot...|
+-------+--------------------+--------------------+

In [50]:
edaw.count()

148430

In [26]:
import pandas as pd

In [28]:
df = pd.read_csv("/home/hduser/Desktop/Hadoop/EDAW.csv")

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146394 entries, 0 to 146393
Data columns (total 12 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    146394 non-null  int64
 1   Date          146394 non-null  object
 2   ID            146394 non-null  int64
 3   url           146394 non-null  object
 4   username      146394 non-null  object
 5   source        146394 non-null  object
 6   location      127014 non-null  object
 7   tweet         146394 non-null  object
 8   num_of_likes  146394 non-null  int64
 9   num_of_rt     146394 non-null  int64
 10  followers     146394 non-null  int64
 11  replies       146394 non-null  int64
dtypes: int64(6), object(6)
memory usage: 13.4+ MB

In [51]:
df

,Unnamed: 0,Date,ID,url,username,source,location,tweet,num_of_likes,num_of_rt,followers,replies
0,0,2023-03-15 23:28:12+00:00,1636147315168927744,https://twitter.com/HibaJebeile/status/1636147...,HibaJebeile,Twitter Web App,"Sydney, New South Wales",Grateful to be working with a fantastic group ...,19,4,1552,1
1,1,2023-03-15 23:24:30+00:00,1636146382770966528,https://twitter.com/Bfoundation/status/1636146...,Bfoundation,Twitter Web App,Australia,"In this #podcast episode, we chat to Dr Beth S...",1,1,36483,0
2,2,2023-03-15 23:20:51+00:00,1636145465111752704,https://twitter.com/EdawIhap/status/1636145465...,EdawIhap,Twitter Web App,NaN,@JTRIII3 @_AndrewCallahan Another sulky Pats fan,1,0,1,0
3,3,2023-03-15 22:51:55+00:00,1636138183808393216,https://twitter.com/EdawTheGreat/status/163613...,EdawTheGreat,Twitter for iPhone,"Lincoln, NE","This draft was God awful, and it was obvious f...",0,0,90,0
4,4,2023-03-15 22:25:12+00:00,1636131460401725441,https://twitter.com/EdawTheGreat/status/163613...,EdawTheGreat,Twitter for iPhone,"Lincoln, NE","@miketankerr Or even better, itâ€™s not a separa...",0,0,90,0
...,...,...,...,...,...,...,...,...,...,...,...,...
146389,146389,2017-01-01 11:01:54+00:00,815513373014130688,https://twitter.com/menshealthleeds/status/815...,menshealthleeds,Twitter Web Client,Yorkshire,"The hidden, growing plight of eating disorders...",2,5,3739,0
146390,146390,2017-01-01 09:25:14+00:00,815489047284027393,https://twitter.com/CWP_EDS/status/81548904728...,CWP_EDS,Hootsuite,NaN,"Happy New Year! Useful contact numbers, email ...",1,1,947,0
146391,146391,2017-01-01 00:51:00+00:00,815359637188919296,https://twitter.com/kopp_shannon/status/815359...,kopp_shannon,Buffer,"Los Angeles, CA",It's time to leave the canyon... #edrecovery #...,3,0,8747,0
146392,146392,2017-01-01 00:40:09+00:00,815356906084716544,https://twitter.com/aedweb/status/815356906084...,aedweb,Hootsuite,"Reston, VA",Check out &amp; share the 9 Truths about #Eati...,1,1,13463,0
146393,146393,2017-01-01 00:05:12+00:00,815348109886640128,https://twitter.com/shannoncutts/status/815348...,shannoncutts,dlvr.it,"Houston, TX, USA",Take a 'Virtual Walk' for Eating Disorders Awa...,0,0,1983,0